:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6dec1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e6dec1;
  color: #5d4037;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  pointer-events: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2b48c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #bfa67a;
}
button:focus,
button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

.teddy-button {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  font-size: 80px; /* Adjust the font size as needed */
  text-align: center;
  border-radius: 50%; /* Make the button circular */
  animation: rotate infinite linear; /* Add infinite rotation animation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

#upgrade-container {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Optional: Add some space between the upgrade rows */
}

.upgrade-row {
  display: flex;
  grid-template-columns: auto auto 1fr; /* Auto columns for buttons and counts, flexible for descriptions */
  column-gap: 16px; /* Space between columns */
  margin-bottom: 3px; /* Space between rows */
  align-items: center; /* Vertically center all items */
}

.upgrade-count,
.upgrade-description {
  white-space: nowrap; /* Prevent content wrap for consistent baseline alignment */
}

.upgrade-button {
  flex: 0 0 445px; /* Fixed width for the button */
  margin-right: 5px;
  grid-column: 1; /* Consistently placed in the first column */
}

.upgrade-count {
  flex: 0 0 260px; /* Fixed width for count container to ensure alignment */
  margin-right: 5px;
  display: flex;
  justify-content: flex-start; /* Align text to the start of the container */
  grid-column: 2; /* Consistently placed in the second column */
  pointer-events: none;
}

.upgrade-description {
  flex-grow: 1; /* Let the description take the remaining space */
  display: flex;
  justify-content: flex-start; /* Align text to the start */
  grid-column: 3; /* Always starts in the third column */
  pointer-events: none;
}

.golden-teddy {
  cursor: pointer;
  z-index: 1000; /* Ensure it appears above other elements */
  color: gold; /* Apply yellow tint */
}

.fade-up {
  position: absolute;
  font-size: 1.5em;
  color: #5d4037; /* Same color as the counter text */
  font-family: inherit; /* Same font as the counter text */
  animation: fadeUp 2s forwards;
  pointer-events: none;
}
